<div class="container-fluid op-banner">
  <div class="jumbotron jumbotron-fluid op-jumbotron">
    <div class="container">
      <h1 class="display-3">SeedShare.io</h1>
      <p class="lead">Social recruiting: find a new career today, with job listings shared
        by real people. You help others find their new career too by sharing quality job posts.
        Wishing you the best of luck!
      </p>
    </div>
  </div>
</div>

<div class="container-fluid op-cardstream">
  {{#each model as |job|}}
    {{job-listing job}}
  {{/each}}
</div>
{{post-button}}
{{login-dialog}}
{{register-dialog}}
{{outlet}}
{{ftr-bar}}