<div class="card op-card">
  <div class="card-header">
    <i>Updated on</i> date-time
  </div>
  <div class="card-block">
    <h4 class="card-title">{{job.title}} - {{job.company}}</h4>
    <p class="card-text">{{job.location}} | {{job.salary}}</p>
    <p class="card-text">{{job.notes}}</p>
    <br />
    <a href="{{job.glass}}" class="badge badge-default">
      GlassDoor
    </a>
    <a href="{{job.linkedin}}" class="badge badge-default">
      Linkedin
    </a>
    <hr />
    <p>
      <i class="fa fa-user" aria-hidden="true"></i> rbflavn
      &ensp;
      <i class="fa fa-share-square" aria-hidden="true"></i> 56
      <a href="{{job.ref}}" class="btn btn-primary" style="float: right;">Open</a>
    </p>
  </div>
</div>
{{yield}}
