<div class="modal fade" id="jobPostModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jobPostModalLabel">Post a job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <p>
            Enter information about the job you want to list. All submissions are subject to
            review before they are listed.
          </p>
          <form id="{{formId}}">
            {{#each formFld as |field|}}
              {{form-input
                field.id
                field.label
                field.limit
                field.required
                field.multi}}
            {{/each}}
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <div class="btn-group">
          <button id="prevBtn" {{action "prev"}} type="button" class="btn btn-success disabled">
            <i class="fa fa-angle-left" aria-hidden="true"></i> Back
          </button>
          <button id="nextBtn" {{action "next"}} type="button" class="btn btn-success">
            Next <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </div>
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>
{{yield}}