  <a class="navbar-brand" style="color:linen;width:120px;" href="#">
    {{yield}}
  </a>
  {{#if signed}}
    <button {{action "signOut"}}
      class="btn btn-outline-success op-navbtn my-2 my-sm-0">
      Log out
    </button>
  {{else}}
    <button class="btn btn-outline-danger op-navbtn my-2 my-sm-0">
      Register
    </button>
    <button {{action "signIn"}}
      class="btn btn-outline-success op-navbtn my-2 my-sm-0"
      data-toggle="modal"
      data-target="#loginModal">
      Log in
    </button>
  {{/if}}
{{login-dialog}}